<h1>Index Page</h1>
<div class="panel panel-default">
    <div class="panel-heading">Suggestion to learners</div>
    <div class="panel-body">The content in this page should contain the features such as statistical dashboard information showing total number of products purchased so far. The content is usually discussed with the final year project clients on what they prefer to see. You all need to advice them that this page show information which can help them translate into actions.</div>
</div>