<h1>Administration Panel</h1>
<br>
<div class="panel panel-default">
    <div class="panel-heading">Category Management</div>
    <div class="panel-body">
        <a asp-controller="Categories" asp-action="Index" class="btn btn-default col-md-12">Category List</a>
        <br>
        <br>
        <a asp-controller="Categories" asp-action="Create" class="btn btn-default col-md-12">Add Category</a>
    </div>
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">Brand Management</div>
    <div class="panel-body">
        <a asp-controller="Brands" asp-action="Index" class="btn btn-default col-md-12">Brand List</a>
        <br>
        <br>
        <a asp-controller="Brands" asp-action="Create" class="btn btn-default col-md-12">Add Brand</a>
    </div>
</div>




